/* inv_console.css */

.inventory-table {
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

.inventory-row {
  height: 30px; /* Adjust the height as needed */
}

.search-col {
  margin-bottom: 20px;
}

.custom-input {
  border-radius: 0;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
}

.pagination input {
  width: 50px;
}

.inventory-table th, .inventory-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden;
}

.inventory-table thead th {
  cursor: pointer;
}

.inventory-table tbody tr {
  cursor: pointer;
}

.inventory-table tbody td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
