.content-section {
    background: #efefef;
    padding: 0; /* Remove any default padding */
    margin: 0;  /* Remove any default margin */
}

.container {
    max-width: 100%; /* Make sure container takes full width */
    padding: 0;     /* Remove container padding */
}

.card-report, .card-pie, .card-table {
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.card-body {
    flex-grow: 1;
}

/* Ensuring equal height for cards */
.card-report {
    max-height: 200px; /* Adjust as needed */
    overflow: hidden;
}

.card-pie, .card-table {
    flex-grow: 1;
}

.card-pie {
    min-height: 400px; /* Adjust as needed */
}

.card-table {
    min-height: 400px; /* Adjust as needed */
}

/* Centering the pie chart */
#orderPieChart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
