.content-section {
    background: #efefef;
    padding: 0; 
    margin: 0;  
}

.container {
    max-width: 100%; 
    padding: 0;     
}

.card-report, .card-pie, .card-table {
    margin-bottom: 20px;
}

.card-body {
    flex-grow: 1;
}


.card-report {
    max-height: 200px; 
    overflow: hidden;
}

.card-pie, .card-table {
    flex-grow: 1;
}

.card-pie {
    min-height: 400px; 
}

.card-table {
    min-height: 400px; 
}


#orderPieChart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
