/* Ensure the container and row take full height
.h-100 {
  height: 100%;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

/* Center pagination controls */
.pagination .page-link {
  color: #dd1e25;
  border: none;
  outline: none;
}

.pagination .page-link:hover {
  text-decoration: underline;
}

.pagination .active .page-link {
  text-decoration: underline;
  color: #dd1e25;
  background-color: white; /* Remove background color */
  border: none; /* Remove border */
}
.table {
  font-size: 0.875rem; /* Smaller font size for compact table */
}

.table td, .table th {
  padding: 0.5rem; /* Smaller padding for compact cells */
}
