.sidebar{
    background-color:#f5f5f5;
    color: #000;
    min-height:80vh;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar-btn {
    background-color: transparent;
    color: #000; 
    border: none !important;
    width: 100%; 
    text-align: left !important; 
    padding: 10px; 
    margin-bottom: 10px; 
    margin-top: 10px;
    
}

.sidebar-btn:hover {
    background-color: rgba (0,0,0,0.05);
    
}

