.sidebar-btn {
    background-color: transparent;
    color: #000; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 10px; 
    margin-top: 10px;
    /* transition: background 0.3s, color 0.3s;  */
}

.sidebar-btn:hover {
    background-color: black;
    color: #fff; 
}

.sidebar .ml-3 .sidebar-btn {
    margin-left: 0; 
}
